@media only screen and (min-width: 850px) {
    td, #trailingDiv, #turnDiv {
        width: 67px;
        height: 67px;
    }
}

@media only screen and (max-width: 850px) {
    td, #trailingDiv, #turnDiv {
        --cellsize: calc((60vw) / 8);
        width: var(--cellsize);
        height: var(--cellsize);
    }
}
