html {
    height: 100%;

}

body {
    height: 100%;
    margin: auto;
    padding: 10px 0 0 10px;
    background-image: linear-gradient(rgba(73, 85, 80, 0.92), #33234d);
}

table {
    background-color: rgb(240, 248, 255);
    border-collapse: collapse;
    box-shadow: 10px 10px 30px grey;
}

td, #trailingDiv {
    background-position: center;
    background-size: 90% 90%;
    background-repeat: no-repeat;
    user-select: none;
}

#trailingDiv {
    position: absolute;
    cursor: grabbing;
}

#turnDiv {
    margin: auto;
    border-radius: 50%;
}

#containerTurn {
    text-align: center;
    padding: 3px;
    margin: 0 0 0 10px;
    color: rgb(249, 255, 249);
}

#containerBoard {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
}

.colored {
    background-color: rgb(60, 180, 217);
}

.tograb {
    cursor: grab
}

.tograb:active {
    cursor: grabbing;
}

* {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1.05em;
}


